<template>
    <div class="day">
        <div>{{day.date}}</div>
        <img v-bind:src="icon" alt="No icon provided">
        <div>
            <span>Max : {{day.high}}</span>
            <span>Min : {{day.low}}</span>
        </div>
     </div>
</template>

<script>
export default {
    name: "Day",
    props: ['day'],
    computed: {
        icon: function() { return `http://openweathermap.org/img/wn/${this.day.icon}@2x.png` }
  } 
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.day {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
</style>
